# Python
__pycache__

# virtualenv
/env

# Local releases
*egg-info
/build
/dist
/pkg/linux/build
/pkg/linux/dist
/pkg/linux/package
/pkg/linux/logs
/pkg/linux/dummyfilescreator.deb
/pkg/linux/dummyfilescreator.rpm