# Python
__pycache__

# virtualenv
/env

# Pyinstaller generated directories
/dist/linux/build
/dist/linux/dist
/dist/linux/package
/dist/linux/logs
/dist/linux/dummyfilescreator.deb
/dist/linux/dummyfilescreator.rpm

# Local releases
/*egg-info
/build